<div class="container">
  <div class="card mt-3" *ngIf="paymentForm">
    <form class="card-body" [formGroup]="paymentForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Name on card</label>
          <app-input [control]="nameOnCard()"></app-input>
        </div>
        <div class="col-md-6 mb-3">
          <label>Card number</label>
          <app-input [control]="cardNumber()"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Expiration</label>
          <app-input [control]="expDate()"></app-input>
        </div>
        <div class="col-md-6 mb-3">
          <label>CVV</label>
          <app-input [control]="cvv()"></app-input>
        </div>
        <div>
          <label>Amount total</label>
          <input
            type="text"
            class="form-control"
            [formControl]="amount()"
            readonly
          />
        </div>
      </div>
      <hr class="mb-4" />
      <button
        class="btn btn-primary btn-lg btn-block"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        type="submit"
        [disabled]="paymentForm.invalid"
      >
        Continue to checkout
      </button>
    </form>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Payment
          <span [ngClass]="isDeclined() ? 'text-danger' : 'text-secondary'">{{
            paymentResponse && paymentResponse.status
          }}</span>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetForm()"
        ></button>
      </div>
      <div class="modal-body">
        {{ paymentResponse && paymentResponse.message }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="goToMerchantPage()"
        >
          Shop more
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="checkStatus()"
          [disabled]="isDeclined()"
        >
          Check status
        </button>
      </div>
    </div>
  </div>
</div>
